* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


/* -------------------------------- Header ----------------------------- */

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 93.5%;
    align-self: center;
    border-radius: 1em 0em 1em 1em;
    z-index: 30;

      @media screen and (min-width: 960px) {
          width: 85%;
      }
}

/* Logo in nav */
header img a {
    width: 30%;
    border-radius: 1em 0em 1em 0em;
}

header .logo {
    padding: 1.5em;
    border-radius: 0em 0em 0em 1em;
}

.logo img {
    width: 4em;
    align-self: center;

        @media screen and (min-width: 960px) {
                width: 7em;
        }
}

header .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0;
}

/* Top navigatie */
.top-nav {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        justify-content: space-between;
        padding: 0.4em 2em 0.4em 2em;
    }
}

.top-nav .sterren:before {
    content: url('/assets/4.5-sterren.svg');
    margin: 3px 3px 0px 0px;
}

.top-nav .sterren {
    width: 11em;
}

.top-nav .right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: unset;
    padding: 0;
}

/* Btm navigatie */
.btm-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;

    @media screen and (min-width: 960px) {
        border-top: 1px solid rgb(217, 217, 217);
        flex-direction: row;
        gap: 1em;
    }
}

.btm-nav form {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        padding: 0;
        width: 65%;
    }
}

.btm-nav .links {

      @media screen and (min-width: 960px) {
    width: 12em;
    justify-content: end;
    }
}

.user p {
    display: none;
@media screen and (min-width: 960px) {
    display: flex;
}
}

.user {
              @media screen and (min-width: 960px) {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5em;
              }
}

/* Hamburger knop */
.hamburger-btn {
    height: 3.5em;
    width: 3.5em;
    border-radius: var(--big-rounded);
    border: 1px solid var();
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        width: 16em;
        gap: 1em;
        height: 4em;
    }
}

.hamburger-btn span {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
        color: var(--secondary-text-color);
        font-family: var(--font-header);
        font-size: 16px;
    }
}

/* Openklap menu */
.cagetory-items {
    list-style-type: none;
    padding: 0 0 100px 0;
    position: fixed;
    padding: 2em;
    top: 80px;
    left: 3.3%;
    translate: 0% -120%;
    width: 93.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
    z-index: 10;
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 40em;
    border-radius: 0em 0em 1em 1em;
    

     @media screen and (min-width: 960px) {
         max-height: 28em;
        overflow-y: unset;
        width: 15em;
        translate: 83% -150%;
        left: 7%;

     }
}

.open {
    translate: 0%;
    width: 93.5%;
    padding: 2em;
     height: 150vh;

     @media screen and (min-width: 960px) {
         width: 15em;
             translate: 82% 10%;
     }
}

.cagetory-items form {
    display: flex;
    padding: 0;
    width: 100% !important;

     @media screen and (min-width: 960px) {
         display: none;
     }
}

.cagetory-items p {
     @media screen and (min-width: 960px) {
         display: none;
     }
}

.btm-nav form input {
    width: 100%;
      background-image: url('../assets/search-icon.svg');
      background-position: 97% 12px;
      background-repeat: no-repeat;
}

.cagetory-items ul {
    padding: 0;
    list-style-type: none;
}

.cagetory-items ul li {
    padding-bottom: 1em;
}

.cagetory-items .divider {
    padding: 0.03em;
    background-color: rgb(217, 217, 217);

@media screen and (min-width: 960px) {
    display: none;
}
}

/* Overige */
.cagetory-items .overige {
    display: flex;
    flex-direction: row;
    gap: 1em;

        @media screen and (min-width: 960px) {
            display: none;
        }
}

.cagetory-items .sterren {
    display: flex;
    flex-direction: row;
}

.divider-vertical {
    padding: 0.01em;
    width: 1px;
    background-color: rgb(217, 217, 217);
}

.usp-besteld:before {
    content: url('/assets/check-groen.svg');
    margin: 3px 3px 0px 0px;
}

.usp-besteld {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.cagetory-items .usp-besteld {
      @media screen and (min-width: 960px) {
          display: none;
      }
}

.btm-nav .links {
    list-style-type: none;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btm-nav .links li:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}


/* ---------------------------- Sectie 1 banner ------------------------------ */
.banner-home {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/banner-home-wcs.jpg);
    background-position: 70% -20%;
    height: 70vh;
    width: 100%;
    padding-top: 10em;
    margin: -6.5em 0em 0em 0em;

    @media screen and (min-width: 1100px) {
        margin: -9em 0em 0em 0em;
        height: 90vh;
        background-position: center;
        justify-content: center;
    }
}

.banner-home .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1100px) {
         width: 30%;
    }
}

.banner-home .info h1 {
    text-align: center;
}

.banner-home .info a {
    align-self: center;
    margin-top: 2em;
}

.info .label {
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.2em 1em 1em 1em;
    font-family: var(--font-header);
    border-radius: var(--small-rounded);
}

/* ---------------------------- USP's -------------------------------- */
.usp-orders {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 1em 0em;
 
         @media screen and (min-width: 820px) {
            flex-direction: row;
             padding: 1em 3em 1em 3em;
         }

         @media screen and (min-width: 1120px) {
            gap: 2em;
             padding: 1em 7em 1em 7em;
         }

         @media screen and (min-width: 1600px) {
             padding: 1em 4em 1em 4em;
         }
}

.usp-orders li {
    display: flex;
    flex-direction: row;
}

.usp-orders li:before {
    content: url(../assets/check-groen.svg);
    margin: 4px 4px 0px 0px;
}

.divider-usp {
        padding: 0.01em;
        background-color: rgb(217, 217, 217);
       
        margin: 0em 1em 3.5em 1em;

         @media screen and (min-width: 820px) {
             margin: 0em 3em 4.5em 3em;
         }

         @media screen and (min-width: 1120px) {
             margin: 0em 7em 5em 7em;
         }

         @media screen and (min-width: 1600px) {
             margin: 0em 4em 4em 4em;
         }
}

/* ---------------------------- Sectie 3 categorieën lijst ----------------------------*/

.category-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0;
    gap: 1em;
    margin-bottom: -4em;

    @media screen and (min-width: 1100px) {
        flex-direction: row;
         gap: 2em;
        margin-bottom: -2em;
    }
}

.category-list li {
    display: inline-block;
    flex-direction: column;
    justify-self: center;

    @media screen and (min-width: 900px) {
        display: flex;
        align-items: center;
        flex: 0 0 128px;
    }
}

.category-list li img {
    width: 120px;
}

.category-list li h3 {
    font-size: 16px;
    text-align: center;
    padding-top: 1em;
}

/* Carousel */
.carousel-wrapper-list {
    display: flex;
    flex-direction: column;
}

/* Button carousel */
#volgende {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-rounded);
    border: 2px solid #E5E7EB;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    align-self: flex-end;
    translate: 15px -90px;

     @media screen and (min-width: 900px) {
          translate: 20px -110px;
     }
}

#volgende:hover {
    background-color: var(--primary-highlight-color);
    border: var(--primary-highlight-color);
    transition: 0.2s ease-in-out;
}

/* ------------------------- Sectie 4 producten -----------------------------*/

.product-sectie {
    display: flex;
    flex-direction: column;
       overflow: hidden;
       margin-bottom: -2em;
}

.producten-banner {
    display: flex;
    flex-direction: column;

      @media screen and (min-width: 1100px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
}

.producten-banner a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.producten-banner a:before {
     content: url(../assets/icon-right-balck.svg);
     margin: 0px 2px 0px 0px;
}

.carousel-wrapper {
    overflow: hidden;
}

.producten {
     display: flex;
     flex-direction: row;
     gap: 1.5em;
     transition: transform 0.5s ease-in-out;
     padding: 0;
       scroll-behavior: smooth;
}

/* Product */
.product {
    list-style-type: none;
    width: 280px;
    flex: 0 0 350px;
    width: 400px;
    cursor: pointer;
    flex-shrink: 0;
    padding-bottom: 15px;
}

.product h3 {
    font-size: 20px;
}

.product-img {
    width: 100%;
}

/* Wishlist icon */

.favorite-icon {
    translate: 310px -340px;
    cursor: pointer;
    width: 20px;
    transition: .2s ease-in-out;
}


#tweede {
        translate: 286px -340px;
}

@keyframes flyAnimation {
   30% {
       transform: scale(1.4);
   }

   50% {
       transform: scale(.8);
   }

   100% {
       transform: scale(1);
   }
}

.fly {
    animation: flyAnimation 1s forwards;
    z-index: 30;
}






.knop-add-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.knop-add-card p {
    width: 130px;
    line-height: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Zorg ervoor dat alleen opacity wordt geanimeerd */
    pointer-events: auto;
    /* Zorg ervoor dat het element interacties kan ontvangen */
}

.label-visible {
    opacity: 0 !important;
    pointer-events: none;
    /* Zorg ervoor dat het element niet meer interacties ontvangt wanneer het onzichtbaar is */
}



.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    60% {
        opacity: 0;
    }

      80% {
          opacity: 0;
      }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.favorite-icon:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.favorite-icon:hover path {
    fill: white;
    stroke: white;
}


.btm .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}





.btn-card {
    padding: 0.4em 0.8em 0.1em 0.8em;
    border-radius: var(--big-rounded);
    background-color: var(--primary-highlight-color);
    border: 2px solid var(--primary-highlight-color);
    text-decoration: none;
    transition: transform all 0.3s ease;
}

.btn-card:hover {
    transform: scale(1.05);
}

.btn-card:active {
    transform: scale(0.8);
}

/* Styling voor btn-card wanneer het eerste icoon actief is */
.first-icon-active {
    background-color: var(--secondary-background-color);
    border: 2px solid var(--secondary-background-color);
}

.plus-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    color: #000;
}

.plus-icon:hover {
    transition: all 0.3s ease;
}


/* Popup */
.pop-up {
    display: none;
    /* Zorg ervoor dat de pop-up standaard verborgen is */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-background-color);
    color: #000;
    padding: 1em 1.5em 1em 1.5em;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    text-align: center;
}

.pop-up img {
    width: 25px;
}

.show {
    display: flex;
    gap: 1em;
    left: unset;
    align-self: center;
    /* De pop-up wordt zichtbaar */
    animation: bounceInUp 1s ease-out forwards;
    /* Animatie toevoegen */
}

  .bounceInUp {
      -webkit-animation-name: bounceInUp;
      animation-name: bounceInUp;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }

  @-webkit-keyframes bounceInUp {

      0%,
      60%,
      75%,
      90%,
      100% {
          -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }

      0% {
          opacity: 0;
          -webkit-transform: translate3d(0, 3000px, 0);
          transform: translate3d(0, 3000px, 0);
      }

      60% {
          opacity: 1;
          -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
      }

      75% {
          -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
      }

      90% {
          -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
      }

      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
      }
  }

  @keyframes bounceInUp {

      0%,
      60%,
      75%,
      90%,
      100% {
          -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }

      0% {
          opacity: 0;
          -webkit-transform: translate3d(0, 3000px, 0);
          transform: translate3d(0, 3000px, 0);
      }

      60% {
          opacity: 1;
          -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
      }

      75% {
          -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
      }

      90% {
          -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
      }

      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
      }
  }

/* Animatieklasse voor card-icon */
.icon-switch-animation {
    animation: bounceInRight 0.5s ease-in-out;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

×


/* Carousel */

/* Animatie sliden */
.producten.bewegen {
    translate: -100% 0%;
}


.product.slide-0 {
    transform: translateX(0%);
}

.producten.slide-1 {
    transform: translateX(-350px);
}
.producten.slide-2 {
    transform: translateX(-700px);
}




/* Button carousel */
#next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-rounded);
    border: 2px solid #E5E7EB;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    align-self: flex-end;
    translate: 18px -280px;
}

#next:hover {
    background-color: var(--primary-highlight-color);
    border: var(--primary-highlight-color);
    transition: 0.2s ease-in-out;
}

/* ----------------------------- Sectie 5 banner met kaartjes --------------------------------- */

.banner-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-cards-img {
    width: 100%;
    height: 45vh;
    object-fit: cover;

        @media screen and (min-width: 1100px) {
             height: 70vh;
        }
}

/* Cards */

.cards {
    list-style-type: none;
    padding: 0;
     width: 93.5%;
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media screen and (min-width: 960px) {
        flex-direction: row;
        width: 85%;
    }
}

.cards li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-end;
    border-radius: var(--small-rounded);

     @media screen and (min-width: 1100px) {
         flex-direction: row;
             gap: 2em;
     }
}

.cards h2 {
    font-size: 30px;
}

.cards li img {
        border-radius: var(--small-rounded);
    @media screen and (min-width: 1100px) {
        height: 100%;
    }
}

.cards li .mobiel {
            width: 95%;
    @media screen and (min-width: 1100px) {
        display: none;
    }
}

.cards li .desktop{
    display: none;

    @media screen and (min-width: 1100px) {
        display: flex;
        width: 120%;
    }
}

/* Card left */

.card-left .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 1em 2em;

      @media screen and (min-width: 1100px) {
         padding: 7em 2em 2em 2em;
      }
    
}

.card-left .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

/* Card right */

.card-right .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 1em 2em;

     @media screen and (min-width: 1100px) {
         padding: 7em 2em 2em 2em;
     }
}

.card-right .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

/* ----------------------------- Sectie 6 blog artikelen --------------------------------- */

.nieuws {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media screen and (min-width: 920px) {
         gap: 0em;
    }
}

.nieuws .info {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.nieuws .info a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.nieuws .info a:before {
        content: url(../assets/icon-right-balck.svg);
        margin: 0px 2px 0px 0px;
}

.blogartikelen {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

     @media screen and (min-width: 920px) {
        flex-direction: row;
     }
}

/* Blogartikel */

.blogartikel {
    display: flex;
    flex-direction: column;
}

.blogartikel .banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.blogartikel .btm {
    padding: 2em;
}

.blogartikel .btm h3 {
    color: var(--secondary-text-color);
    font-size: 22px;
}

.blogartikel .btm a {
    text-decoration: none;
}

.btn-nieuws {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5em 0em 0em 0em;
}

/* ----------------------------- Sectie 7 member ----------------------------- */

.member {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media screen and (min-width: 920px) {
        flex-direction: row;
    }
}

/* Left */
.member .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 920px) {
        padding: 0em 0em 0em 5em;
    }
}
.member .left .checklist {
    list-style-type: none;
    padding: 0em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.member .left a {
    border: 2px solid var(--primary-text-color);
}

.member .left a:hover {
    border: 2px solid var(--primary-text-color);
}

.checklist-item {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

/* Right */
.right {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
        padding: 0em 5em 0em 0em;
    }
}
.right .foto-1 {
    width: 85%;
    align-self: flex-end;
    border-radius: var(--small-rounded);

}

.right .foto-2 {
    width: 250px;
    margin-top: -120px;
    border-radius: var(--small-rounded);
}

/* ----------------------------- Sectie 8 footer --------------------------------- */

footer .top {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media screen and (min-width: 920px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

footer a {
      text-decoration: none;
}

footer h4 {
    font-size: 20px;
}

/* Aanmelden */
.nieuwsbrief {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.nieuwsbrief form {
    padding: 0;
    width: 100%;
}

.nieuwsbrief input {
    width: 100%;
    border: 1px solid #dadada;
    padding-left: 40px;
    border-radius: var(--small-rounded);
    background-image: url('../assets/icon-mail.svg');
    background-position: 2% 12px;
    background-repeat: no-repeat;
}

.nieuwsbrief button {
    margin-top: 1em;
}

.social-media .socials {
    display: flex;
    flex-direction: row;
}

.social-media .socials li {
    transition: .2s ease-in-out;
}

.social-media .socials li:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.social-media .socials li img {
    border-radius: var(--big-rounded);
    cursor: pointer;
}

/* Betaalmethodes */
.betaalmethodes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 2em 1em 2em 1em;
    gap: 1em;

    @media screen and (min-width: 920px) {
        justify-content: center;
        gap: 2em;
    }
}

/* Documents */
.documents {
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
            justify-content: center;
            flex-direction: row;
            gap: 2em;
        }
}










.btn-test {
    display: flex;
    flex-direction: row;
}